@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');

*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-image: url("images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  padding: 20px;
}

.header{
  display: flex;
  flex-direction: row;
}

.header h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
}

.header img{
  padding: 5px;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item-1{
  padding-top: 60px;
  padding-right: 40px;
}

.item-2 h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: white;
}

.item-2 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: hsl(300, 69%, 71%);
}

.button{
  width: 150px;
  height: 40px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: hsl(257, 40%, 49%);
  text-align: center;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.icon{
  border-radius: 50%;
  margin: 10px;
  border: 1px solid white;
  background-color: white;
}

.icon:hover,.button:hover{
  background-color: hsl(300, 69%, 71%);
}

@media (max-width:1200px){
  .main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-2 h1,p {
    text-align: center;
  }
  .button{
    margin: 0 auto;
  }
  .footer{
    justify-content: center;
    padding-top: 30px;
  }
}

@media (max-width:750px){
  .item-1 img{
    width: 90vw;
    height: auto;
  }
  .item-1{
    padding-top: 60px;
    margin: 0 auto;
  }
  body{
    padding: 0px;
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
  }
}